Source: ros-rolling-mp-units-vendor
Section: misc
Priority: optional
Maintainer: Tim Clephas <tim.clephas@nobleo.nl>
Build-Depends: debhelper (>= 9.0.0), git, libgsl-dev, ros-rolling-ament-cmake, ros-rolling-ament-cmake-vendor-package, ros-rolling-ros-workspace
Homepage: https://github.com/mpusz/mp-units
Standards-Version: 3.9.2

Package: ros-rolling-mp-units-vendor
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libgsl-dev, ros-rolling-ros-workspace
Description: Vendor package for mp-units (quantities and units library for C++)
